[alias]
    st = status
    co = checkout
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    l3 = log --pretty=oneline -3
    incomming = "!f() { a=`git rev-parse --abbrev-ref HEAD`; git log $a..origin/$a --format=\"%Cred%h%Creset - %s (%Cblue%aN%Creset, %ad)\" --date=relative --stat; }; f"
    incomming-diff = "!f() { a=`git rev-parse --abbrev-ref HEAD`; git diff $a..origin/$a --ignore-all-space; }; f"
    deploy = "!f() { d=$(basename `git rev-parse --show-toplevel`); deploy -p $d $@; }; f"
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[diff]
    tool = Kaleidoscope
[user]
[branch]
    autosetupmerge = true
[core]
    autocrlf = false
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore_global
    editor = "/usr/bin/subl -w"
[credential]
    helper = osxkeychain
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[push]
    default = matching
[mergetool "sublime"]
    cmd = subl -w $MERGED
    trustExitCode = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false
[merge]
	tool = Kaleidoscope
